name: test ci

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deply: dev/qas/prd'
        required: true
        default: 'dev'
      label:
        description: 'Label for deploy'
        required: false
        default: 're-build'
  push:
    paths:
      - 'env/train.txt'
      - 'env/inference.txt'
    branches:
      - main

# run-name: ${{ github.event.inputs.label }}

env:
  ENV_TRAIN: "train-changed"
  ENV_INFERENCE: "inference-changed"

jobs:
  register-train:
    # if : github.event_name == 'workflow_dispatch' || steps.changes.outputs.env == 'true'
    # if : github.ref == 'refs/heads/main'
    if: ${{ github.ref == 'refs/heads/main' && (github.event.inputs.environment == 'dev' || github.event.inputs.environment == '') }}
    runs-on: ubuntu-latest
    outputs:
      commit_message: ${{ steps.git-log.outputs.message }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check ENV file changed
        if: github.event_name == 'push'
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            env:
              - 'env/train.txt'

      - name: Check ENV
        if: ${{ steps.changes.outputs.env == 'true' }}
        run: echo ${ENV_TRAIN}

      - name: Get latest commit message
        id : git-log
        run: |
          echo "::set-output name=message::$(git log -1 --pretty=%B)"
        shell: bash

      - name: Show commit message
        run: echo "Latest commit message ${{ steps.git-log.outputs.message }}"


  register-inference:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check ENV file changed
        if: github.event_name == 'push'
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            env:
              - 'env/inference.txt'

      - name: Check ENV
        if : ${{ steps.changes.outputs.env == 'true' }}
        run: echo ${ENV_INFERENCE}
  
  dev-deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [register-train, register-inference]
    runs-on: ubuntu-latest
    steps:
      - name: Check DEV deploy
        run: echo "FINISH DEPLOY TO ${{ github.event.inputs.environment }}"

      - name: Check submodule
        uses: actions/checkout@v3
        with:
          submodules: recursive
      
      - name: Read submodule file
        run: |
          git submodule update --init --remote --recursive
          python read.py
  
  qas-deploy:
    if: ${{ github.ref == 'refs/heads/main' && github.event.inputs.environment == 'qas' }}
    # needs: [dev-deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Check QAS deploy
        run: echo "FINISH DEPLOY TO ${{ github.event.inputs.enviroment }}"

# run-name: ${{ jobs.register-train.steps.git-log.outputs.message }}
run-name: ${{ jobs.register-train.outputs.commit_message }}

# name: test ci

# on:
#   workflow_dispatch:

# env:
#   ENV_TRAIN: "train-changed"
#   ENV_INFERENCE: "inference-changed"

# jobs:
#   register-train:
#     if : github.ref == 'refs/heads/main'
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3
#         with:
#           fetch-depth: 1
      
#       - name: Show last commit
#         run: git log -1 --oneline

#       - name: Check file changed
#         uses: dorny/paths-filter@v3
#         id: changes
#         with:
#           filters: |
#             env:
#               - 'env/train.txt'
#           base: HEAD~1
          
#       - name: Check ENV
#         if : ${{ steps.changes.outputs.env == 'true' }}
#         run: echo ${ENV_TRAIN}

#   register-inference:
#     if : github.ref == 'refs/heads/main'
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       - name: Check file changed
#         uses: dorny/paths-filter@v3
#         id: changes
#         with:
#           filters: |
#             env:
#               - 'env/inference.txt'
#             base: HEAD~1
#       - name: Check ENV
#         if : ${{ steps.changes.outputs.env == 'true' }}
#         run: echo ${ENV_INFERENCE}
  
#   dev-deploy:
#     if : github.ref == 'refs/heads/main'
#     needs: [register-train, register-inference]
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check DEV deploy
#         run: echo "FINISH DEPLOY TO DEV"

  # qas-deploy:
  #   if : github.ref == 'refs/heads/test'
  #   needs: [dev-deploy]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check QAS deploy
  #       run: echo "FINISH DEPLOY TO QAS"

  # prd-deploy:
  #   if : github.ref == 'refs/heads/test'
  #   needs: [qas-deploy]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check PRD deploy
  #       run: echo "FINISH DEPLOY TO PRD"
